In [15]:
import numpy as np
import sklearn
import pandas as pd

In [16]:
data = pd.read_csv('lymphography.data', names=["a"+str(i) for i in range(19)])

In [17]:
data.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18
0,3,4,2,1,1,1,1,1,2,1,2,2,2,4,8,1,1,2,2
1,2,3,2,1,1,2,2,1,2,1,3,3,2,3,4,2,2,2,2
2,3,3,2,2,2,2,2,2,2,1,4,3,3,4,8,3,2,2,7
3,3,3,1,1,1,1,2,1,2,1,3,3,4,4,4,3,1,2,6
4,2,3,1,1,1,1,1,1,1,1,2,2,4,3,5,1,2,2,1

In [18]:
data = data.iloc[:, 0:5]

In [23]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [28]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((118, 4), (30, 4), (118,), (30,))

In [29]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [30]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
y_pred = lr.predict(X_test)

In [32]:
import pickle

file = pickle.dump(lr, open('model.pkl','wb'))

In [36]:
model = pickle.load(open('model.pkl','rb'))
predict_value = model.predict([[2, 1, 2, 1]])

In [38]:
if predict_value >= 0.5:
    print(1)
else:
    print(0)

1