In [1]:
import numpy as np
import sklearn
import pandas as pd

In [2]:
data = pd.read_csv('lymphography.csv', names=["a"+str(i) for i in range(19)])

In [3]:
data.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18
0,3,4,2,1,1,1,1,1,2,1,2,2,2,4,8,1,1,2,2
1,2,3,2,1,1,2,2,1,2,1,3,3,2,3,4,2,2,2,2
2,3,3,2,2,2,2,2,2,2,1,4,3,3,4,8,3,2,2,7
3,3,3,1,1,1,1,2,1,2,1,3,3,4,4,4,3,1,2,6
4,2,3,1,1,1,1,1,1,1,1,2,2,4,3,5,1,2,2,1

In [21]:
set(data['a0']), set(data['a1']), set(data['a2']), set(data['a3']), set(data['a4'])

({1, 2, 3, 4}, {1, 2, 3, 4}, {1, 2}, {1, 2}, {1, 2})

In [4]:
data = data.iloc[:, 0:5]

In [5]:
X = data.iloc[:, 1:].values
y = data.iloc[:, 0].values

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((118, 4), (30, 4), (118,), (30,))

In [9]:
from sklearn.ensemble import RandomForestClassifier

lr = RandomForestClassifier()

In [10]:
lr.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
y_pred = lr.predict(X_test)

In [12]:
import pickle

file = pickle.dump(lr, open('model.pkl','wb'))

In [13]:
model = pickle.load(open('model.pkl','rb'))
predict_value = model.predict([[2, 2, 2, 1]])

In [14]:
predict_value[0] == 2

True

In [15]:

#normal find, metastases, malign lymph, fibrosis

if predict_value[0] == 0:
    print("normal find")
elif predict_value[0] == 1:
    print("metastases")
elif predict_value[0] == 2:
    print("malign lymph")
else:
    print("fibrosis")

malign lymph

In [16]:
predict_value

array([2], dtype=int64)